@import './spacing.css';
@import './variables.css';
@import './utilities.css';
@import './typography.css';
@import './navbar.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat','Fira Sans', sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}