@import './spacing.css';
@import './variables.css';
@import './utilities.css';
@import './typography.css';
@import './navbar.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap&family=Space+Mono:ital@1&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono','Fira Sans', sans-serif;
  font-weight: normal;
}