<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="image.css" />
    <link rel="stylesheet" href="../../css/base.css" />
    <title>Image</title>
</head>
<body>
    <main>
        <div class="img-container basic-margin-padding flex">
            <div class="img-container">
                <img src="https://images.unsplash.com/photo-1643779564029-ee084c40d9ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                    alt="responsive-img" class="img-resp" />
            </div>
            <div class="img-container">
                <img src="https://images.unsplash.com/photo-1643779564029-ee084c40d9ca?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                    alt="round-img" class="img-round" />
            </div>
        </div>
    </main>
</body>
</html>