.button {
    border-radius: 10px;
    border: none;
    color: var(--black);
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-link {
    background-color: var(--secondary-color);
}

.btn-icon {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-fab{
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 1em;
    width: 3rem;
    height: 3rem;
}