<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
    <link rel="stylesheet" href="button.css">
    <link rel="stylesheet" href="../../css/base.css">

<body>
    <main>
        <div class="container">
            <button class="button btn-primary">Primary Button</button>
            <a href="../../components/avatar/avatar.html" class="button btn-link">
            Link Button</a>
            <button class="button btn-icon">
               <i class="fas fa-plus"></i>Icon Button</button>
            <button class="button btn-fab">
               <i class="fas fa-plus"></i></button>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/a2605d1bec.js" crossorigin="anonymous"></script>
</body>

</html>