<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css" />
    <link rel="stylesheet" href="../../css/base.css" />
    <title>Avatar</title>
</head>

<body>
    <main>
        <h1>Avatar</h1>
        <div class="avatar-container flex">
            <h1>Standard Avatar</h1>
            <img class="avatar"
                src="https://images.unsplash.com/photo-1643633051030-a74836fb6655?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyMHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                alt="image-1" />
            <img class="avatar"
                src="https://images.unsplash.com/photo-1643635584824-993e275ef1ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="image-2" />
            <img class="avatar"
                src="https://images.unsplash.com/photo-1643599630779-892b294f22f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                alt="image-3" />
        </div>
        <div class="avatar-container flex">
            <h2>Size Avatar</h2>
            <img class="avatar sm"
                src="https://images.unsplash.com/photo-1643637200739-91b446b0e4e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="image-1" />
            <img class="avatar md"
                src="https://images.unsplash.com/photo-1643635584824-993e275ef1ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="image-2" />
            <img class="avatar lg"
                src="https://images.unsplash.com/photo-1643599630779-892b294f22f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                alt="image-3" />
        </div>
        <div class="avatar-container flex">
            <h2>Square Avatar</h2>
            <img class="avatar square"
                src="https://images.unsplash.com/photo-1643637200739-91b446b0e4e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="image-1" />
            <img class="avatar square"
                src="https://images.unsplash.com/photo-1643635584824-993e275ef1ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                alt="image-2" />
            <img class="avatar square"
                src="https://images.unsplash.com/photo-1643599630779-892b294f22f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                alt="image-3" />
        </div>
        <div class="avatar-container flex">
            <h2>Avatar Status</h2>
            <figure class="avatar square figure">
                <img 
                    class="img"
                    src="https://images.unsplash.com/photo-1643637200739-91b446b0e4e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                    alt="image-1" />
                <div class="avatar-status dnd"></div>
            </figure>
            <figure class="avatar square figure">
                <img class="img"
                    src="https://images.unsplash.com/photo-1643635584824-993e275ef1ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                    alt="image-2" />
                <div class="avatar-status offline"></div>
            </figure>
            <figure class="avatar square figure">
                <img class="img"
                    src="https://images.unsplash.com/photo-1643599630779-892b294f22f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60"
                    alt="image-3" />
                <div class="avatar-status online"></div>
            </figure>
        </div>
    </main>
</body>

</html>