.align-center {
    align-items: center;
}

.avatar {
  margin: 1rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  display: inline;
}

.img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.avatar.square {
  border-radius: 2px;
}

.avatar-status {
  border: 2px solid var(--white);
  background-color: var(--bg-color);
  padding: 8%;
  border-radius: 50%;
  position: absolute;
  bottom: 0em;
  right: 0em;
}

.avatar-status.offline {
  background-color: var(--bg-color);
}

.avatar-status.dnd {
  background-color: var(--primary-color);
}

.avatar-status.online {
  background-color: var(--success-color);
}

.figure {
    border-radius: 50%;
}

.img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
