<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="../../css/base.css" />
  </head>
  <body>
    <main>
      <nav>
        <div class="navbar">
          <div id="left-nav">
            <a href="../../index.html">
              <img
                src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b8/S_cursiva.gif/200px-S_cursiva.gif"
                width="100"
                height="100"
                alt="logo"
              />
            </a>
          </div>
          <div id="right-nav">
            <ul class="navbar">
              <li>
                <a href="../../index.html">
                  <i id="fas fa-home"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="dropdown">
                <button class="dropdown-btn">Components</button>
                <div class="dropdown-components">
                  <a href="/components/alert/alert.html">Alert</a>
                  <a href="/components/avatar/avatar.html">Avatar</a>
                  <a href="/components/badge/badge.html">Badge</a>
                  <a href="/components/button/button.html">Button</a>
                  <a href="/components/card/card.html">Card</a>
                  <a href="/components/image/image.html">Image</a>
                  <a href="/components/input/input.html">Input</a>
                  <a href="/components/text-utilities/text-utilities.html"
                    >Text Utilities</a
                  >
                  <a href="/components/list/list.html">List</a>
                  <a href="/components/navbar/navbar.html">Navbar</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </main>
    <section class="main-section">
      <h3>Navigation Bar</h3>
      <p>
        Navigation bar helps in moving easily through out a page. It has links
        for different parts of web pages.
      </p>
      <div class="container basic-margin-padding flex-col">
        <h3>Navigation Bar</h3>
        <div class="navigationBar">
          <div class="flex sm-margin-padding">
            <img
              src="/assets/bars-solid.svg"
              alt="icon"
              width="20"
              height="20"
            />
            <p>Menu</p>
          </div>
          <div class="flex sm-margin-padding">
            <p>Docs</p>
            <p>Contribute</p>
            <p>Profile</p>
          </div>
        </div>
      </div>
      <pre class="code-container">
        <code>
          &lt;div class="navigationBar">
            &lt;div class="flex sm-margin-padding">
              &lt;img src="icon link goes here" alt="icon" width="20" height="20">
              &lt;p>Menu&lt;/p>
            &lt;/div>
            &lt;div class="flex sm-margin-padding">
              &lt;p>Docs&lt;/p>
              &lt;p>Contribute&lt;/p>
              &lt;p>Profile&lt;/p>
            &lt;/div>
          &lt;/div>
        </code>
      </pre>
    </section>
  </body>
</html>
