.stacked-list {
    margin: 1rem;
    width: 50%;
    text-align: center;
}

.stacked-list-item {
    background-color: var(--lynx-white);
    color: var(--black);
    border: 1px solid black;
    padding: 0.5rem;
    margin: 0;
}