<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" href="list.css" />
    <link rel="stylesheet" href="../../css/base.css" />
  </head>
  <body>
    <main>
      <nav>
        <div class="navbar">
          <div id="left-nav">
            <a href="../../index.html">
              <img
                src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b8/S_cursiva.gif/200px-S_cursiva.gif"
                width="100"
                height="100"
                alt="logo"
              />
            </a>
          </div>
          <div id="right-nav">
            <ul class="navbar">
              <li>
                <a href="../../index.html">
                  <i id="fas fa-home"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="dropdown">
                <button class="dropdown-btn">Components</button>
                <div class="dropdown-components">
                  <a href="/components/alert/alert.html">Alert</a>
                  <a href="/components/avatar/avatar.html">Avatar</a>
                  <a href="/components/badge/badge.html">Badge</a>
                  <a href="/components/button/button.html">Button</a>
                  <a href="/components/card/card.html">Card</a>
                  <a href="/components/image/image.html">Image</a>
                  <a href="/components/input/input.html">Input</a>
                  <a href="/components/text-utilities/text-utilities.html"
                    >Text Utilities</a
                  >
                  <a href="/components/list/list.html">List</a>
                  <a href="/components/navbar/navbar.html">Navbar</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </main>
    <section class="main-section">
      <h3>Lists</h3>
      <p>
        Lists can be used to represent anything. They can be used in
        notification lists, they can be used to show some number of things on
        screen and many more things.
      </p>
      <p>In this component library, we have</p>
      <ul>
        <li>
          Spaced List - Use classname <span class="classname">flex</span> to
          align list spaced between each other.
        </li>
        <li>
          Stacked List - Use classname
          <span class="classname">stacked-list</span> on ul to get stacked list
          as well as use classname
          <span class="classname">stacked-list-item</span> on li to get desired
          notification stacks.
        </li>
      </ul>
      <div class="container flex-col basic-margin-padding">
        <h3>Spaced List</h3>
        <ul class="flex">
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ul>
      </div>
      <pre class="code-container">
        <code>
          &lt;ul class="flex">
            &lt;li>List Item 1&lt;/li>
            &lt;li>List Item 2&lt;/li>
            &lt;li>List Item 3&lt;/li>
          &lt;/ul>
        </code>
      </pre>
      <div class="container flex-col basic-margin-padding">
        <h3>Stacked List</h3>
        <ul class="stacked-list">
          <li class="stacked-list-item">List Item 1</li>
          <li class="stacked-list-item">List Item 2</li>
          <li class="stacked-list-item">List Item 3</li>
        </ul>
      </div>
      <pre class="code-container">
        <code>
          &lt;ul class="stacked-list">
            &lt;li class="stacked-list-item">List Item 1&lt;/li>
            &lt;li class="stacked-list-item">List Item 2&lt;/li>
            &lt;li class="stacked-list-item">List Item 3&lt;/li>
          &lt;/ul>
        </code>
      </pre>
    </section>
  </body>
</html>
