<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge</title>
    <link href="badge.css" rel="stylesheet" />
    <link href="../../css/base.css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <nav>
        <div class="navbar">
          <div id="left-nav">
            <a href="../../../dashboard.html">
              <img src="../img/logo.png" alt="logo" />
            </a>
          </div>
          <div id="right-nav">
            <ul class="navbar">
              <li>
                <a href="../dashboard.html">
                  <i id="fas fa-home"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="dropdown">
                <button class="dropdown-btn">Components</button>
                <div class="dropdown-components">
                  <a href="/components/alert/alert.html">Alert</a>
                  <a href="/components/avatar/avatar.html">Avatar</a>
                  <a href="/components/badge/badge.html">Badge</a>
                  <a href="/components/button/button.html">Button</a>
                  <a href="/components/card/card.html">Card</a>
                  <a href="/components/image/image.html">Image</a>
                  <a href="/components/input/input.html">Input</a>
                  <a href="/components/alert/alert.html">Text Utilities</a>
                  <a href="/components/alert/alert.html">List</a>
                  <a href="/components/alert/alert.html">Navbar</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </main>
    <section>
      <div class="badge-container basic-margin-padding flex-col">
        <h2>Profile with Badge.</h2>
        <div class="flex">
          <div class="profile-badge md">
            <img
              class="img"
              src="https://images.unsplash.com/photo-1643752725382-177b6d7c28a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
              alt="profile-img"
            />
            <div class="number">10</div>
          </div>
          <div class="profile-badge lg">
            <img
              class="img"
              src="https://images.unsplash.com/photo-1643752725382-177b6d7c28a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
              alt="profile-img"
            />
            <div class="number">10</div>
          </div>
          <div class="profile-badge xl">
            <img
              class="img"
              src="https://images.unsplash.com/photo-1643752725382-177b6d7c28a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
              alt="profile-img"
            />
            <div class="number">10</div>
          </div>
        </div>
      </div>

      <div class="badge-container basic-margin-padding flex-col">
        <h2>Icon with Badge.</h2>
        <div class="flex">
          <div class="icon-badge">
            <img
              class="icon-img"
              src="../../assets/envelope-solid.svg"
              alt="profile-img"
            />
            <div class="number">10</div>
          </div>
          <div class="icon-badge">
            <img
              class="icon-img"
              src="../../assets/bell-solid.svg"
              alt="profile-img"
            />
            <div class="number">10</div>
          </div>
          <div class="icon-badge">
            <img
              class="icon-img"
              src="../../assets/cart-plus-solid.svg"
              alt="profile-img"
            />
            <div class="number">10</div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
