<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text-Utilities</title>
    <link rel="stylesheet" href="text-utilities.css" />
    <link rel="stylesheet" href="../../css/base.css" />
  </head>
  <body>
    <main>
      <nav>
        <div class="navbar">
          <div id="left-nav">
            <a href="../../dashboard.html">
              <img
                src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b8/S_cursiva.gif/200px-S_cursiva.gif"
                width="100"
                height="100"
                alt="logo"
              />
            </a>
          </div>
          <div id="right-nav">
            <ul class="navbar">
              <li>
                <a href="../../dashboard.html">
                  <i id="fas fa-home"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="dropdown">
                <button class="dropdown-btn">Components</button>
                <div class="dropdown-components">
                  <a href="/components/alert/alert.html">Alert</a>
                  <a href="/components/avatar/avatar.html">Avatar</a>
                  <a href="/components/badge/badge.html">Badge</a>
                  <a href="/components/button/button.html">Button</a>
                  <a href="/components/card/card.html">Card</a>
                  <a href="/components/image/image.html">Image</a>
                  <a href="/components/input/input.html">Input</a>
                  <a href="/components/text-utilities/text-utilities.html">Text Utilities</a>
                  <a href="/components/list/list.html">List</a>
                  <a href="/components/alert/alert.html">Navbar</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </main>
    <section class="main-section">
      <h3>Typography Section</h3>
      <p>
        In this section, the component library shows the styles applied to
        headings, paragraphs and styles used to center text.
      </p>
      <div class="heading-container flex-col basic-margin-padding">
        <h3>Headings</h3>
        <p class="h1">H1 Heading</p>
        <p class="h2">H2 Heading</p>
        <p class="h3">H3 Heading</p>
        <p class="h4">H4 Heading</p>
        <p class="h5">H5 Heading</p>
      </div>
      <pre class="code-container">
        <code>
          &lt;p class="h1">H1 Heading&lt;/p>
          &lt;p class="h2">H2 Heading&lt;/p>
          &lt;p class="h3">H3 Heading&lt;/p>
          &lt;p class="h4">H4 Heading&lt;/p>
          &lt;p class="h5">H5 Heading&lt;/p>
        </code>
      </pre>
      <div class="heading-container flex-col basic-margin-padding">
        <h3>Small Text</h3>
        <p class="lg-para">Text 3</p>
        <p class="md-para">Text 4</p>
        <p class="sm-para">Text 5</p>
      </div>
      <pre class="code-container">
        <code>
          &lt;p class="lg-para">Text 3&lt;/p>
          &lt;p class="md-para">Text 4&lt;/p>
          &lt;p class="sm-para">Text 5&lt;/p>
        </code>
      </pre>
      <div class="heading-container flex-col basic-margin-padding">
        <h3>Gray Text</h3>
        <p class="gray-text">This text is gray in color </p>
      </div>
      <pre class="code-container">
        <code>
          &lt;p class="gray-text">Text &lt;/p>
        </code>
      </pre>
      <div class="heading-container flex-col basic-margin-padding">
        <h3>Centered Text</h3>
        <p class="centered-text">This text is centered</p>
      </div>
      <pre class="code-container">
        <code>
          &lt;p class="centered-text">This text is centered&lt;/p>
        </code>
      </pre>
    </section>
  </body>
</html>
