.heading-container {
    background-color: #3B82F6;
    border-radius: 10px;
    width: 100%;
    color: #fff;
}

.gray-text {
    color: var(--lynx-gray);
}

.centered-text {
    color: var(--lynx-gray);
    text-align: center;
}