@import "../../css/variables.css";

.alert {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    color: white;
    border-radius: 15px;
    width: 50%;
    text-align: center;
    font-weight: var(--bold-weight);
}

.alert-error {
    background-color: var(--error-color);
}

.alert-success {
    background-color: var(--success-color);
}

.alert-primary {
    background-color: var(--primary-color);
}

.alert-warning {
    background-color: #d3e916;
}