@import "../../css/variables.css";

.alert {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--white);
    background-color: var(--white);
    color: var(--black);
    border-radius: 10px;
    width: 300px;
    text-align: center;
    font-weight: var(--bold-weight);
}

.alert-error {
  background-color: var(--primary-color);
}

.alert-success {
    background-color: var(--success-color);
}

.alert-primary {
    background-color: var(--violet);
}

.alert-warning {
    background-color: var(--warn-color);
}
