<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert</title>
    <link href="alert.css" rel="stylesheet" />
    <link href="../../css/base.css" rel="stylesheet" />
  </head>

  <body>
    <main>
      <nav>
        <div class="navbar">
          <div id="left-nav">
            <a href="../../index.html">
              <img
                src="//upload.wikimedia.org/wikipedia/commons/thumb/b/b8/S_cursiva.gif/200px-S_cursiva.gif"
                width="100"
                height="100"
                alt="logo"
              />
            </a>
          </div>
          <div id="right-nav">
            <ul class="navbar">
              <li>
                <a href="../../index.html">
                  <i id="fas fa-home"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="dropdown">
                <button class="dropdown-btn">Components</button>
                <div class="dropdown-components">
                  <a href="/components/alert/alert.html">Alert</a>
                  <a href="/components/avatar/avatar.html">Avatar</a>
                  <a href="/components/badge/badge.html">Badge</a>
                  <a href="/components/button/button.html">Button</a>
                  <a href="/components/card/card.html">Card</a>
                  <a href="/components/image/image.html">Image</a>
                  <a href="/components/input/input.html">Input</a>
                  <a href="/components/text-utilities/text-utilities.html"
                    >Text Utilities</a
                  >
                  <a href="/components/list/list.html">List</a>
                  <a href="/components/navbar/navbar.html">Navbar</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </main>
    <section class="main-section">
      <h1>Alert</h1>
      <p class="sm-margin-padding">
        Alert's are messages which give some special message. They can be easily
        understood by the color they have.
      </p>
      <p class="sm-margin-padding">
        There are 4 different alerts in the component library.
      </p>
      <ol>
        <li>
          <span class="bold"> Info Alert </span> -
          <span class="classname">.alert-primary</span> class should be used
        </li>
        <li>
          <span class="bold">Error Alert</span> -
          <span class="classname">.alert-error</span> class should be used
        </li>
        <li>
          <span class="bold">Success Alert</span> -
          <span class="classname">.alert-success</span> class should be used
        </li>
        <li>
          <span class="bold">Warning Alert</span> -
          <span class="classname">.alert-warning</span> class should be used
        </li>
      </ol>
      <div class="flex-col container">
        <div class="alert alert-primary">Info Alert</div>
        <div class="alert alert-error">Error Alert</div>
        <div class="alert alert-success">Success Alert</div>
        <div class="alert alert-warning">Warning Alert</div>
      </div>
      <pre class="code-container">
      <code>
        &lt;div class="flex alert-container">
          &lt;div class="alert alert-primary"&gt;Info Alert.&lt;/div&gt;
          &lt;div class="alert alert-error"&gt;Error Alert.&lt;/div&gt;
          &lt;div class="alert alert-success"&gt;Success Alert.&lt;/div&gt;
          &lt;div class="alert alert-warning"&gt;Warning Alert.&lt;/div&gt;
        &lt;/div&gt;
      </code>
    </pre>
    </section>
  </body>
</html>
